* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    min-height: 100vh;
}
li {
    list-style-type: none;
    &.trending-items {
        display: flex;
        gap: 15px;
    }
}
div {
    &.main-container{
        display: grid;
        height: 100vh;
        grid-template-columns: 250px 1fr 1fr;
        grid-template-areas: 
        "sidebar header header"
        "sidebar main main";
    }
    &.card-div {
        background-color: #fefffe;
        display: flex;
        position: relative;
        max-height: fit-content;
        min-height: 100px;
        min-width: 250px;
        padding: 15px;
        gap: 80px;
        border-left: 3px solid #f3d8ab;
        border-radius: 20px;
        box-shadow: 20px #808080;
        transition: .2s;
        &:hover{
            transition: .2s;
            transform: scale(1.02);
        }
    }
    &.card-info{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &.links-to-pages {
        display: flex;
        align-content: flex-end;
        gap: 20px;
    }
    &.announcements-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        background-color: #fefffe;
        border-right: 3px solid #f3d8ab;
        border-radius: 20px;
        padding: 20px;
    }
    &.trending-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        background-color: #fefffe;
        border-right: 3px solid #f3d8ab;
        border-radius: 20px;
        padding: 20px;
        &>.trending-list {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
    }

    
}
header {
    border-bottom: 2px solid #808080;
    &.header{
        grid-area: header;
        background-color: #fefffe;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &> .header-top{
        display: grid;
        position: relative;
        padding-left: 20px;
        grid-template-columns: 30px 1fr;
        grid-column: span 2;
        &> #search{
            grid-column: 2;
            height: 30px;
            width: 500px;
            border-radius: 20px;
            border: 1px solid #808080;
            outline: none;
            text-indent: 10px;
            transition: .2s;
            &:hover{
                background-color: #D3D3D3;
                transition: .2s;
            }
        }
        
        &> img{
            position: absolute;
            left: -5px;
            grid-column-start: 1;
            grid-row-start: 1;
        }
    }
    &> .header-top > .user-profile-drop {
        display: grid;
        justify-self: end;
        padding-right: 50px;
        grid-column-start: 4;
        &> .user-name{
            display: flex;
            justify-items: center;
            align-items: center;
            gap: 20px;
            font-size: 1.5em;
            & > #coffee-icon {
                border-radius: 50%;
            }
        }
    }
    &> .user-hub {
        padding-left: 20px;
        & > .user-greet {
            display: grid;
            grid-template-columns: 100px 1fr;
            justify-self: start;
            align-self: center;
            gap: 20px;
            & > section {
               align-self: center;
            }
            & > img {
                width: 100px;
                height: 100px;
            }
        }
    }
    &> .header-links {
        justify-self: end;
        padding-right: 50px;
        align-self: center;
    }
    &> .header-links > .quick-links {
        grid-column-start: 2;
        display: flex;
        gap: 50px;
    }
    & .headerBtns {
        height: 35px;
        width: 100px;
        border-radius: 30px;
        border: none;
        font-size: 1.2em;
        color: #fefffe;
        background-color: #9781e6;
        transition: .2s;
        &:hover{
            background-color: #8165f3;
            transform: scale(1.1);
            transition: .2s;
        }
    }
}
nav {
    &.sidebar{
        grid-area: sidebar;
        background-color: #9781e6;
        display: grid;
        justify-items: center;
        grid-template-rows: 80px 1fr 1fr;
    }
    &> .sidebar-header {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        padding-left: 20px;
        gap: 10px;
        &> img {
            width: 40px;
        }
        &> h1 {
            font-size: 1.8em;
            color: #fefffe;
        }
    }
    &> .sidebar-links {
        display: grid;
        align-items: center;
        &> li{
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
    &> .sidebar-setting-links {
        display: grid;
        grid-auto-rows: 70px;
        align-items: center;
        &> li{
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
}
main {
    grid-area: main;
    background-color: #d2d6f9;
    display: grid;
    grid-template-columns: 1fr 300px;
    &>.project-container{
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, minmax(250px, 600px));
        grid-template-rows: repeat(auto-fit, 1fr);
        gap: 25px;
        padding: 40px 20px 20px 20px;
        &> h2{
            position: absolute;
            left: 20px;
            top: 5px;
        }
    }
    &>.main-sidebar{
        display: flex;
        flex-direction: column;
        gap: 50px;
        grid-column: 2;
        position: relative;
        padding-top: 40px;
        padding-right: 20px;
        &> #announcement-header {
            position: absolute;
            top: 5px;
        }
        &> #trending-header{
            position: absolute;
            top: 295px;
        }
        
    }
}
button{
    &.navBtnStyle{
        border: none;
        width: 100px;
        height: 35px;
        font-size: 1.2em;
        color: #fefffe;
        background-color: transparent;
        transition: .2s;
        &:hover{
            color: #e9d4f1;
            transform: scale(1.1);
            transition: .2s;
        }
    }
    &:hover {
        cursor: pointer;
    }
}
img {
    &.navIcons {
        width: 40px;
    }
    &.card-img{
        width: 40%;
        height: 100%;
        border-radius: 5%;
        flex-shrink: 1;
    }
    &.imgRoundBorder {
        border-radius: 50%;
    }
}
p {
    &.card-text {
        max-width: 300px;
    }
    & a{
        cursor: pointer;
        color: #9781e6;
        text-decoration: none;
        transition: .2s;
        &:hover {
            color: #6845f1;
            text-decoration: underline;
            transition: .2s;
        }
    }
}